[submodule "src/GLGE_BG"]
	path = src/GLGE_BG
	url = https://github.com/DM8AT/GLGE_BG.git
[submodule "src/GLGE_Math"]
	path = src/GLGE_Math
	url = https://github.com/DM8AT/GLGE_Math.git
[submodule "ZLib"]
	path = src/GLGECore/external/zlib
	url = https://github.com/madler/zlib.git
[submodule "PugiXML"]
	path = src/GLGECore/external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "Mustache"]
	path = src/GLGECore/external/mustache
	url = https://github.com/kirillochnev/mustache.git
[submodule "src/GLGECore/external/assimp"]
	path = src/GLGECore/external/assimp
	url = https://github.com/assimp/assimp.git
